@import "tailwindcss";

body{
    background: rgba(180, 0, 162, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: yellow;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.681);
    display: flex;
    flex-direction: column;
    animation-delay: 2s;
}
